{% extends 'base.html.twig' %}

{% form_theme formPost 'bootstrap_5_layout.html.twig' %}

{% block stylesheets %}
        {{parent()}}
        {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block javascripts %}
        {{parent()}}
        {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block title %}Stack Overflow{% endblock %}

{% block body %}

<h1>Stack Overflow</h1>

{% for post in posts %}
<div class="list-group">
  <a href="{{path('app_post', {'id': post.id})}}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ post.title }}</h5>
      <small class="text-muted">{{ post.createdat|date("d/m/Y à H:i") }}</small>
    </div>
    <p>{{ post.content }}</p>
  </a>
</div>
{% endfor %}

{% if is_granted('ROLE_USER') %}
    <div class="formulaire">
        <h2>Ajout de questions</h2>
        {{ form_start(formPost) }}
        <div class="row">
            <div class="col-md-8">
                {{ form_row(formPost.title) }}
            </div>            
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-4">
                {{ form_row(formPost.status) }}
            </div>
            {% endif %}
        </div>
        {{ form_row(formPost.content) }}
        <div class="col-12">
            <button type="submit" class="btn btn-secondary">Ajouter</button>
        </div>
        {{ form_end(formPost) }}
    </div>
{% else %}
    <div class="addFormulaire">
        <h4>Connectez-vous pour ajouter une question</h4>
        <a href="{{ path('app_login') }}" class="btn btn-secondary">Connexion</a>
    </div>
{% endif %}

{% endblock %}
